<!DOCTYPE html>
<html>

<head>
    <title>Traps</title>
    <link href='/css/home.css' type='text/css' rel='stylesheet' />
    <!-- Latest compiled and minified CSS -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js">
    </script>

    <!-- jQuery library -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Data Tables, buttons, response -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="/scripts/trap.js"></script>
</head>

<body>
    <div>
        <input style="display: none" type="text" id="b_id" value="{{b_id}}">
        <input style="display: none" type="text" id="f_id" value="{{f_id}}">
    </div>
    <div id="headder">Trap Track</div>
    <h1><a href="/building">Building</a> > <hi id='test'>Floor</a> > Traps</h1>
    <div id="search">
        <h1>Search for a trap</h1>
        <input name="building" type="text" id="trapInput" class="form-control validate" required>
        </br>
        <button id="Trapsearch" class="btn btn-primary">Search</button>
        <button id="add_new" class="btn btn-primary">Add New</button>
    </div>
    <!-- in modal -->
    <div id="contaner" class="container">
        <form id="myform2" action="/floor" method="post">
            <input  style="display: none" type="text" id="b_id" name="b_id" value="{{b_id}}">
            <input  style="display: none" type="text" id="f_id" name="f_id" value="{{f_id}}">
        </form>
        <h1>Trap Form</h1>
        <form id="TrapForm">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required name="name">
            </div>

            <div class="form-group">
                <label for="amount">Amount of Bait</label>

                <input type="range" id="Bait" list="tickmarks" min=0.01 max=1 step=0.01 name="amount">

                <datalist id="tickmarks">
                    <option value="0.00" label="0%">
                    <option value="0.10">
                    <option value="0.20">
                    <option value="0.30">
                    <option value="0.40">
                    <option value="0.50" label="50%">
                    <option value="0.60">
                    <option value="0.70">
                    <option value="0.80">
                    <option value="0.90">
                    <option value="1.00" label="100%">
                </datalist>
            </div>
        </form>
        <button id="submit">Submit</button>
    </div>
    <!--end modal  -->
    </br>
    </br>
    <h1>You are editing building {{b_id}} floor {{f_id}}</h1>
    <table id=myTable class="display table table-striped table-bordered responsive nowrap" style="width: 80%;">
        <thead>
            <tr>
                <th>Trap ID</th>
                <th>Trap Type</th>
                <th>Time</th>
                <th>Bait Left</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>

</html>